.contents-basis {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top:20px;
  border: 1px solid #ddd;
  align-items: center; /* 세로 중앙 정렬 */
  background-color: #aab89d;
}

.contents-basis p {
  margin: 0;
  text-align: center;
  flex: 1;
}


.contents-upload {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  align-items: center; /* 세로 중앙 정렬 */
}

.contents-upload p {
  margin: 0;
  text-align: center;
  flex: 1;
}

.contents-basis .number, 
.contents-upload .number {
  flex: 1;
  text-align: center;
}

.contents-basis .basis-title, 
.contents-upload .basis-title {
  flex: 8;
  text-align: center;
}

.contents-basis .author, 
.contents-upload .author {
  flex: 1;
  text-align: center;
}

.contents-basis .date, 
.contents-upload .date {
  flex: 2;
  text-align: center;
}

.contents-basis .views, 
.contents-upload .views {
  flex: 0.5;
  text-align: center;
}
