name: Build and Deploy React App with Docker

# 트리거: main 브랜치에 푸시될 때
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }} # GitHub Secrets에 SSH 키를 저장해야 함

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no koo@9seebird.site << 'EOF'
            # 작업 디렉토리로 이동
            cd /www/html/project_deploy/ || exit
            
            # 최신 코드 가져오기
            # git pull origin main || git clone https://github.com/9seebrid/project_front.git .
            if [ -d ".git" ]; then
              git pull origin main
            else
              git clone git@github.com:9seebrid/project_front.git .
            fi

            # Docker 이미지 빌드 및 실행
            docker build -t project-front .
            docker stop project_front || true  # 기존 컨테이너가 있으면 중지
            docker rm docker project_front || true    # 기존 컨테이너가 있으면 삭제
            docker run -d -p 3000:80 --name React-Project project-front
          EOF
